<ion-header [translucent]="true">
  <div class="flex center ">
    <ion-searchbar class="barraPesquisa pesquisar" placeholder="Encontre seus produtos favoritos,  aqui :)">
    </ion-searchbar>
    <ion-icon class="codBarra" name="barcode-outline"></ion-icon>
  </div>

</ion-header>

<ion-content [fullscreen]="true">
  <!--TEXTO INFORMATIVO-->
  <div class="flex center">
    <ion-card class="cardInformativo cardCovid">
      <ion-card-header>
        <ion-card-title class="textoCardInformativo">COVID - 19</ion-card-title>
      </ion-card-header>
      <ion-card-content class="textoCardInformativoI">
        Acompanhe aqui nossas ações de combate ao coronavírus
      </ion-card-content>
    </ion-card>
  </div>

  <ion-card class="imagem" (click)="abrirCartegoria(tipoComercio.id)" *ngFor="let tipoComercio of tipoComercio">
    <img src="../assets/img/{{tipoComercio.img}}" />
    <!-- <div class="card-title">{{tipoComercio.nome}}</div>
    <div class="card-subtitle">{{tipoComercio.descricao}}</div> -->
  </ion-card>


  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="3" *ngFor="let tipoItem of tipoItem">
        <ion-card class="item" (click)="abrirCartegoria(tipoItem.id)" >
          <img src="../assets/img/{{tipoItem.img}}" />
          <!-- <div class="card-title">{{tipoItem.nome}}</div> -->
          <div class="card-subtitle subTitulo">{{tipoItem.descricao}}</div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>