<ion-header>
  <div>
    <ion-avatar class="avatar-cliente">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
  </div>
  <div class="info-cliente-titulo">
    Guilherme
  </div>
  <div class="info-cliente-subtitulo">
    Guilherme@email.com
  </div>
  <div class="flex bottom">
    <ion-button class="botao-sair" size="small" color="medium">Sair da Conta</ion-button>
    <ion-button class="info-cliente-bt" size="small" color="danger">Minhas Informações</ion-button>
  </div>
</ion-header>

<ion-content>

  <ion-card class="card-endereco ">

    <ion-card-content>
      <ion-icon class="card-endereco-icone" name="home-outline"></ion-icon>
      <div class="card-endereco-texto">
        endereços
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-prime">

    <ion-card-content>
      <ion-icon class="card-endereco-icone" name="home-outline"></ion-icon>
      <div class="card-endereco-texto">
        endereços
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-amei">

      <ion-card-content>
        <ion-icon class="card-endereco-icone" name="home-outline"></ion-icon>
        <div class="card-endereco-texto">
          endereços
        </div>
      </ion-card-content>
    </ion-card>



</ion-content>